{% extends "encyclopedia/layout.html" %}

{% block title %}
Create new page
{% endblock %}


{% block body %}
<form action="create" method="post">
	{% csrf_token %}
	<br>
	<h2 style="margin-left: 40px">Create New Page</h2>
	<hr>
	<textarea name="content" id="content" placeholder="Enter Markdown text" style="height: 600px; width: 60%; margin: 20px 45px; padding:5px; outline: none; box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.1); border-color: gray"></textarea>
	<br>
	<button type="submit" style="position: relative; left: 785px; border-radius: 2px; padding: 1px 5px 1px; font-size: 18px">Create Page</button>
</form>
{% endblock %}